@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=Kalam');

body {
  font-family: Raleway;
  background: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.836);
}

h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  min-height: 80vh;
  max-height: 100%;
}

.create-column {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
}

.column {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 10px 10px 10px;
  margin: 10px;
  min-width: 200px;
  width: 25%;
  max-width: 400px;
}

.column-title {
  text-align: center; 
  padding: 2px 5px;
  margin-top: 0;
}

.card-list {
  list-style: none;
  margin: 5px;
  padding: 20px;
}

.card {
  padding: 0;
  background-color: skyblue;
  margin: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.521);
}

.card-description {
  padding: 10px;
  font-family: "Kalam";
  font-size: 18px;
  margin: 0;
  min-height: 80px;
}

.column-add-card {
  display: block;
  margin: 0 auto;
}

button {
  font-family: Raleway;
  cursor: pointer;
}

.btn-delete {
  margin: 2px;
  font-size: 10px;
}

.card-placeholder {
  background-color: rgba(83, 78, 78, 0.253);
  border: 2px black dashed;
  height: 60px;
  width: 80%;
}

.ui-sortable {
  min-height: 80px;
}

